@font-face {
    font-family: Roboto;
    src: url('../../node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Roboto, Arial, Helvetica;
    display: flex;
    flex-flow: column;
}


/*CSS for Each Div affected by body flexbox */

.control-icons {
    -webkit-app-region: drag;
    top: 0;
    right: 0;
    height: 25px;
    background-color: #616161;
}

.wrapper {
    flex: 2;
    overflow: auto;
    background: gray;
}

.seek {
    display: inline-block;
    background: gray;
    z-index: 1;
    display: flex;
    width: 100%;
    background: transparent;
}

.footer {
    min-height: 2.75em;
    background-color: #616161;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}


/*CSS for Table of Songs */

#songTable {
    width: 100%;
}


/*CSS for Minimize etc. */

.control-icons a {
    -webkit-app-region: no-drag;
    color: #FFF;
    padding-left: 3px;
    float: right;
}

.control-icons p {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    line-height: 25px;
    font-size: 20px;
    float: left;
    color: #FFF;
}

#minimize {
    font-size: 15px;
}

#quit {
    font-size: 20px;
}

#dirBtn {
}


/* CSS for Media Controls */

.mediaControls {
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    padding-left: 6em;
    margin-right: auto;
    align-items: center;
}

.mediaControls a {
    font-size: 2em;
    color: #FFF;
    text-decoration: none;
    margin-left: 0.3em;
    display: block;
}

.mediaControls input {
}

/* CSS for Album Container */

#albumContainer {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    bottom: 0;
    left: 0;
    width: 5em;
    height: 5em;
    z-index: 2;
    background: darkgray;
}

#albumImg {
    width: auto;
    height: 100%;
}

/* CSS for SongInfo */

.songInfo {
    align-self: center;
    color: white;
    font-size: 1em;
}

.a {
    margin-right: auto;
}

/* CSS For Input Type=Range */
#seekRange {
    margin-left: 6em;
    width: 100%
}

#volRange {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.4em;
    margin-right: 0.1em;
    background-size: 100% 100%;
}

input[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    height: 6px;
    background-color: #BDBDBD;
    background-image: linear-gradient(#512DA8, #512DA8);
    border-radius: 10px;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: white;
    border-radius: 100%;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
}

input[type=range]#seekRange {
    border-radius: 0;
    background-size: 0% 100%;
}



/* Should Be Deleted at Some Point */
#random {
}
#lastfmBtn {
}
#listenmoeBtn {
}