@font-face {
    font-family: Roboto;
    src: url('fonts/roboto/Roboto-Regular.ttf');
}
body {
    margin: 0;
    padding: 0;
    -webkit-app-region: drag;
    height: 100vh;
    width: 100vw;
    font-family: Roboto; 
}

.control-icons {
    top: 0;
    right: 0;
    height: 25px;
    background-color: darkslategray;
}
.control-icons a {
    -webkit-app-region:  no-drag;
    color: white;
    padding-left: 3px;
    float: right;
}
.control-icons p {
    margin: 0;
    padding: 0;
    vertical-align: middle; 
    line-height: 25px;
    font-size: 20px;
    float: left;
    color: white;
}
#minimize {
    font-size: 15px;
}
#close {
    font-size: 20px;
}   
#dirBtn {
    -webkit-app-region: no-drag;
}

#songTable {
    width: 100%;
}
#mediaControls {
    -webkit-app-region: no-drag;
}