body {
    margin: 0;
    padding: 0;
    -webkit-app-region: drag;
    height: 100vh;
    width: 100vw;
}

#control-icons {
    width: 100%;
    text-align: right;
    background-color: darkslategray;
}
#control-icons a {
    -webkit-app-region: no-drag;
    width: 5%;
    display: inline-block;
    color: white;
    font-size: 10px;
    top: 0;
    right: 0;
}