@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

:root {
    --ui-bg-colour: #616161;
    --bg-colour: gray;
    --accent-colour: #512DA8;
    --table-bg-even: #BDBDBD;
    --table-bg-odd: #9E9E9E;
    --table-bg-active: #64B5F6;
    --table-txt-active: white;
    --icon-color: white;
    --song-info-text: white;
    --album-art-bg: #BDBDBD;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
.melodiiContainer {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

/* CSS for Song Information */
.songInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.75em;
}

.songInfo span {
    color: white;
    text-align: center;
}
/* CSS for the Header */
header {
    -webkit-app-region: drag;
    top: 0;
    right: 0;
    height: 25px;
    background: var(--ui-bg-colour);
    display: flex;
    justify-content: space-between;
}
header i {
    -webkit-app-region: no-drag;
    color: var(--icon-color);
    cursor: pointer;
    text-shadow: 1px 1px 2px #292929;
}
header span {
    color: white;
    align-self: center;
}
.fa-window-minimize {
    font-size: 15px;
}
.fa-times {
    font-size: 20px;
    margin-right: 0.1em;
    margin-left: 0.3em;
}

/* Song Table */
.wrapper table {
    cursor: default;
}
.wrapper table td {
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.wrapper table tr:nth-child(even) {
    background-color: var(--table-bg-even);
    color: white;
}
.wrapper table tr:nth-child(odd) {
    background-color: var(--table-bg-odd);
    color: white;
}
/*CSS for the Body */

.wrapper {
    flex: 2;
    overflow: auto;
    background: var(--bg-colour);
}
/* CSS for the Footer */

footer {
    min-height: 2.75em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background: var(--ui-bg-colour);
}

/*CSS for Media Controls */
.mediaControls {
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    padding-left: 8em;
    /* margin-right: auto; */
    align-items: center;
}
.mediaControls i {
    font-size: 2em;
    color: var(--icon-color);
    margin-left: 0.3em;
    display: block;
    cursor: pointer;
}
.mediaControls #SkipFwd {
    margin-right: 0.5em;
}
.mediaControls #VolBar {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.4em;
    margin-right: 0.1em;
    background-size: 100% 100%;
}

/*CSS for Album Art */
#albumContainer {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    bottom: 0;
    left: 0;
    width: 7em;
    height: 7em;
    z-index: 2;
    background: var(--album-art-bg);
}
#albumImg {
    width: auto;
    height: 100%;
}

/*CSS for SeekRange */
.seekBar {
    background: var(--bg-colour);
    z-index: 1;
    display: flex;
    width: 100%;
}
#seekRange {
    margin-left: 8.5em;
    width: 100%;
    display: flex;
}


/*CSS for Range Input */
input[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    height: 6px;
    background-color: var(--album-art-bg);
    background-image: linear-gradient(var(--accent-colour), var(--accent-colour));
    border-radius: 10px;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: var(--icon-color);
    border-radius: 100%;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
}

input[type=range]#seekRange {
    border-radius: 0;
    background-size: 0% 100%;
}